.container {
    height: 830px;
    background: linear-gradient(#6D31D0 10%, #959ee7 100.2%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: #FFFFFF;
}