.container {
  min-height: 100%;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


